
fundamentos/__pycache__/modulo.cpython-311.pyc
fundamentos/__pycache__/programa_integrador.cpython-311.pyc
py_poo/pr_work/__pycache__/deost_ad.cpython-311.pyc
py_poo/pr_work/__pycache__/gerats.cpython-311.pyc
